[878C:6DE4][2025-07-04T17:27:04]i001: Burn v3.14.1.8722, Windows v10.0 (Build 26100: Service Pack 0), path: C:\Windows\Temp\{3FF399E5-6529-4B48-B4C0-B5AED03113A4}\.cr\VC_redist.x64.exe
[878C:6DE4][2025-07-04T17:27:04]i009: Command Line: '-burn.clean.room=C:\ProgramData\Microsoft\VisualStudio\Packages\Microsoft.VisualCpp.Redist.14.Latest,version=14.44.35211,chip=x64\VC_redist.x64.exe -burn.filehandle.attached=752 -burn.filehandle.self=756 /q /norestart /log C:\Users\Devon Tamaam Adira S\AppData\Local\Temp\dd_setup_20250704171841_567_Microsoft.VisualCpp.Redist.14.Latest.log'
[878C:6DE4][2025-07-04T17:27:04]i000: Setting string variable 'WixBundleOriginalSource' to value 'C:\ProgramData\Microsoft\VisualStudio\Packages\Microsoft.VisualCpp.Redist.14.Latest,version=14.44.35211,chip=x64\VC_redist.x64.exe'
[878C:6DE4][2025-07-04T17:27:04]i000: Setting string variable 'WixBundleOriginalSourceFolder' to value 'C:\ProgramData\Microsoft\VisualStudio\Packages\Microsoft.VisualCpp.Redist.14.Latest,version=14.44.35211,chip=x64\'
[878C:6DE4][2025-07-04T17:27:04]i000: Setting string variable 'WixBundleLog' to value 'C:\Users\Devon'
[878C:6DE4][2025-07-04T17:27:04]i000: Setting string variable 'WixBundleName' to value 'Microsoft Visual C++ 2015-2022 Redistributable (x64) - 14.44.35211'
[878C:6DE4][2025-07-04T17:27:04]i000: Setting string variable 'WixBundleManufacturer' to value 'Microsoft Corporation'
[878C:80C8][2025-07-04T17:27:04]i000: Setting version variable 'WixBundleFileVersion' to value '14.44.35211.0'
[878C:6DE4][2025-07-04T17:27:04]i100: Detect begin, 11 packages
[878C:6DE4][2025-07-04T17:27:04]i000: Setting string variable 'Arm64_Check' to value 'AMD64'
[878C:6DE4][2025-07-04T17:27:04]i000: Setting version variable 'windows_uCRT_DetectKey' to value '10.0.26100.4202'
[878C:6DE4][2025-07-04T17:27:04]i000: Setting numeric variable 'windows_uCRT_DetectKeyExists' to value 1
[878C:6DE4][2025-07-04T17:27:04]i102: Detected related bundle: {c649ede4-f16a-4486-a117-dcc2f2a35165}, type: Upgrade, scope: PerMachine, version: 14.38.33135.0, operation: MajorUpgrade
[878C:6DE4][2025-07-04T17:27:04]i052: Condition '(VersionNT = v6.3 AND NOT VersionNT64) AND (windows_uCRT_DetectKeyExists AND windows_uCRT_DetectKey >= v10.0.10240.0)' evaluates to false.
[878C:6DE4][2025-07-04T17:27:04]i052: Condition '(VersionNT = v6.3 AND VersionNT64) AND (windows_uCRT_DetectKeyExists AND windows_uCRT_DetectKey >= v10.0.10240.0)' evaluates to false.
[878C:6DE4][2025-07-04T17:27:04]i052: Condition '(VersionNT = v6.2 AND NOT VersionNT64) AND (windows_uCRT_DetectKeyExists AND windows_uCRT_DetectKey >= v10.0.10240.0)' evaluates to false.
[878C:6DE4][2025-07-04T17:27:04]i052: Condition '(VersionNT = v6.2 AND VersionNT64) AND (windows_uCRT_DetectKeyExists AND windows_uCRT_DetectKey >= v10.0.10240.0)' evaluates to false.
[878C:6DE4][2025-07-04T17:27:04]i052: Condition '(VersionNT = v6.1 AND NOT VersionNT64) AND (windows_uCRT_DetectKeyExists AND windows_uCRT_DetectKey >= v10.0.10240.0)' evaluates to false.
[878C:6DE4][2025-07-04T17:27:04]i052: Condition '(VersionNT = v6.1 AND VersionNT64) AND (windows_uCRT_DetectKeyExists AND windows_uCRT_DetectKey >= v10.0.10240.0)' evaluates to false.
[878C:6DE4][2025-07-04T17:27:04]i052: Condition '(VersionNT = v6.0 AND NOT VersionNT64) AND (windows_uCRT_DetectKeyExists AND windows_uCRT_DetectKey >= v10.0.10240.0)' evaluates to false.
[878C:6DE4][2025-07-04T17:27:04]i052: Condition '(VersionNT = v6.0 AND VersionNT64) AND (windows_uCRT_DetectKeyExists AND windows_uCRT_DetectKey >= v10.0.10240.0)' evaluates to false.
[878C:6DE4][2025-07-04T17:27:04]i103: Detected related package: {AA0C8AB5-7297-4D46-A0D9-08096FE59E46}, scope: PerMachine, version: 14.38.33135.0, language: 0 operation: MajorUpgrade
[878C:6DE4][2025-07-04T17:27:04]i103: Detected related package: {19AFE054-CA83-45D5-A9DB-4108EF4BD391}, scope: PerMachine, version: 14.38.33135.0, language: 0 operation: MajorUpgrade
[878C:6DE4][2025-07-04T17:27:04]i103: Detected related package: {AA0C8AB5-7297-4D46-A0D9-08096FE59E46}, scope: PerMachine, version: 14.38.33135.0, language: 0 operation: MajorUpgrade
[878C:6DE4][2025-07-04T17:27:04]i103: Detected related package: {19AFE054-CA83-45D5-A9DB-4108EF4BD391}, scope: PerMachine, version: 14.38.33135.0, language: 0 operation: MajorUpgrade
[878C:6DE4][2025-07-04T17:27:04]i101: Detected package: Windows81_x86, state: Absent, cached: None
[878C:6DE4][2025-07-04T17:27:04]i101: Detected package: Windows81_x64, state: Absent, cached: None
[878C:6DE4][2025-07-04T17:27:04]i101: Detected package: Windows8_x86, state: Absent, cached: None
[878C:6DE4][2025-07-04T17:27:04]i101: Detected package: Windows8_x64, state: Absent, cached: None
[878C:6DE4][2025-07-04T17:27:04]i101: Detected package: Windows7_MSU_x86, state: Absent, cached: None
[878C:6DE4][2025-07-04T17:27:04]i101: Detected package: Windows7_MSU_x64, state: Absent, cached: None
[878C:6DE4][2025-07-04T17:27:04]i101: Detected package: WindowsVista_MSU_x86, state: Absent, cached: None
[878C:6DE4][2025-07-04T17:27:04]i101: Detected package: WindowsVista_MSU_x64, state: Absent, cached: None
[878C:6DE4][2025-07-04T17:27:04]i101: Detected package: vcRuntimeMinimum_x64, state: Absent, cached: None
[878C:6DE4][2025-07-04T17:27:04]i101: Detected package: vcRuntimeAdditional_x64, state: Absent, cached: None
[878C:6DE4][2025-07-04T17:27:04]i101: Detected package: vcRuntime_arm64, state: Absent, cached: None
[878C:6DE4][2025-07-04T17:27:04]i052: Condition 'VersionNT >= v6.1' evaluates to true.
[878C:6DE4][2025-07-04T17:27:04]i199: Detect complete, result: 0x0
[878C:6DE4][2025-07-04T17:27:04]i200: Plan begin, 11 packages, action: Install
[878C:6DE4][2025-07-04T17:27:04]i052: Condition 'VersionNT = v6.3 AND NOT VersionNT64' evaluates to false.
[878C:6DE4][2025-07-04T17:27:04]w321: Skipping dependency registration on package with no dependency providers: Windows81_x86
[878C:6DE4][2025-07-04T17:27:04]i052: Condition 'VersionNT = v6.3 AND VersionNT64' evaluates to false.
[878C:6DE4][2025-07-04T17:27:04]w321: Skipping dependency registration on package with no dependency providers: Windows81_x64
[878C:6DE4][2025-07-04T17:27:04]i052: Condition 'VersionNT = v6.2 AND NOT VersionNT64' evaluates to false.
[878C:6DE4][2025-07-04T17:27:04]w321: Skipping dependency registration on package with no dependency providers: Windows8_x86
[878C:6DE4][2025-07-04T17:27:04]i052: Condition 'VersionNT = v6.2 AND VersionNT64' evaluates to false.
[878C:6DE4][2025-07-04T17:27:04]w321: Skipping dependency registration on package with no dependency providers: Windows8_x64
[878C:6DE4][2025-07-04T17:27:04]i052: Condition 'VersionNT = v6.1 AND NOT VersionNT64' evaluates to false.
[878C:6DE4][2025-07-04T17:27:04]w321: Skipping dependency registration on package with no dependency providers: Windows7_MSU_x86
[878C:6DE4][2025-07-04T17:27:04]i052: Condition 'VersionNT = v6.1 AND VersionNT64' evaluates to false.
[878C:6DE4][2025-07-04T17:27:04]w321: Skipping dependency registration on package with no dependency providers: Windows7_MSU_x64
[878C:6DE4][2025-07-04T17:27:04]i052: Condition 'VersionNT = v6.0 AND NOT VersionNT64' evaluates to false.
[878C:6DE4][2025-07-04T17:27:04]w321: Skipping dependency registration on package with no dependency providers: WindowsVista_MSU_x86
[878C:6DE4][2025-07-04T17:27:04]i052: Condition 'VersionNT = v6.0 AND VersionNT64' evaluates to false.
[878C:6DE4][2025-07-04T17:27:04]w321: Skipping dependency registration on package with no dependency providers: WindowsVista_MSU_x64
[878C:6DE4][2025-07-04T17:27:04]i052: Condition '(VersionNT64) AND NOT (Arm64_Check = "ARM64")' evaluates to true.
[878C:6DE4][2025-07-04T17:27:04]i000: Setting string variable 'WixBundleRollbackLog_vcRuntimeMinimum_x64' to value 'C:\Users\Devon_000_vcRuntimeMinimum_x64_rollback.log'
[878C:6DE4][2025-07-04T17:27:04]i000: Setting string variable 'WixBundleLog_vcRuntimeMinimum_x64' to value 'C:\Users\Devon_000_vcRuntimeMinimum_x64.log'
[878C:6DE4][2025-07-04T17:27:04]i052: Condition '(VersionNT64) AND NOT (Arm64_Check = "ARM64")' evaluates to true.
[878C:6DE4][2025-07-04T17:27:04]i000: Setting string variable 'WixBundleRollbackLog_vcRuntimeAdditional_x64' to value 'C:\Users\Devon_001_vcRuntimeAdditional_x64_rollback.log'
[878C:6DE4][2025-07-04T17:27:04]i000: Setting string variable 'WixBundleLog_vcRuntimeAdditional_x64' to value 'C:\Users\Devon_001_vcRuntimeAdditional_x64.log'
[878C:6DE4][2025-07-04T17:27:04]i052: Condition 'Arm64_Check = "ARM64"' evaluates to false.
[878C:6DE4][2025-07-04T17:27:04]i201: Planned package: Windows81_x86, state: Absent, default requested: Absent, ba requested: Absent, execute: None, rollback: None, cache: No, uncache: No, dependency: None
[878C:6DE4][2025-07-04T17:27:04]i201: Planned package: Windows81_x64, state: Absent, default requested: Absent, ba requested: Absent, execute: None, rollback: None, cache: No, uncache: No, dependency: None
[878C:6DE4][2025-07-04T17:27:04]i201: Planned package: Windows8_x86, state: Absent, default requested: Absent, ba requested: Absent, execute: None, rollback: None, cache: No, uncache: No, dependency: None
[878C:6DE4][2025-07-04T17:27:04]i201: Planned package: Windows8_x64, state: Absent, default requested: Absent, ba requested: Absent, execute: None, rollback: None, cache: No, uncache: No, dependency: None
[878C:6DE4][2025-07-04T17:27:04]i201: Planned package: Windows7_MSU_x86, state: Absent, default requested: Absent, ba requested: Absent, execute: None, rollback: None, cache: No, uncache: No, dependency: None
[878C:6DE4][2025-07-04T17:27:04]i201: Planned package: Windows7_MSU_x64, state: Absent, default requested: Absent, ba requested: Absent, execute: None, rollback: None, cache: No, uncache: No, dependency: None
[878C:6DE4][2025-07-04T17:27:04]i201: Planned package: WindowsVista_MSU_x86, state: Absent, default requested: Absent, ba requested: Absent, execute: None, rollback: None, cache: No, uncache: No, dependency: None
[878C:6DE4][2025-07-04T17:27:04]i201: Planned package: WindowsVista_MSU_x64, state: Absent, default requested: Absent, ba requested: Absent, execute: None, rollback: None, cache: No, uncache: No, dependency: None
[878C:6DE4][2025-07-04T17:27:04]i201: Planned package: vcRuntimeMinimum_x64, state: Absent, default requested: Present, ba requested: Present, execute: Install, rollback: Uninstall, cache: Yes, uncache: No, dependency: Register
[878C:6DE4][2025-07-04T17:27:04]i201: Planned package: vcRuntimeAdditional_x64, state: Absent, default requested: Present, ba requested: Present, execute: Install, rollback: Uninstall, cache: Yes, uncache: No, dependency: Register
[878C:6DE4][2025-07-04T17:27:04]i201: Planned package: vcRuntime_arm64, state: Absent, default requested: Absent, ba requested: Absent, execute: None, rollback: None, cache: No, uncache: No, dependency: None
[878C:6DE4][2025-07-04T17:27:04]i207: Planned related bundle: {c649ede4-f16a-4486-a117-dcc2f2a35165}, type: Upgrade, default requested: Absent, ba requested: Absent, execute: Uninstall, rollback: Install, dependency: None
[878C:6DE4][2025-07-04T17:27:04]i299: Plan complete, result: 0x0
[878C:6DE4][2025-07-04T17:27:04]i300: Apply begin
[878C:6DE4][2025-07-04T17:27:04]i010: Launching elevated engine process.
[878C:6DE4][2025-07-04T17:27:04]i011: Launched elevated engine process.
[878C:6DE4][2025-07-04T17:27:04]i012: Connected to elevated engine.
[6480:3934][2025-07-04T17:27:04]i358: Pausing automatic updates.
[6480:3934][2025-07-04T17:27:04]i359: Paused automatic updates.
[6480:3934][2025-07-04T17:27:04]i360: Creating a system restore point.
[6480:3934][2025-07-04T17:27:04]i361: Created a system restore point.
[6480:3934][2025-07-04T17:27:04]i370: Session begin, registration key: SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\{d8bbe9f9-7c5b-42c6-b715-9ee898a2e515}, options: 0x7, disable resume: No
[6480:3934][2025-07-04T17:27:04]i000: Caching bundle from: 'C:\Windows\Temp\{02245D4D-371F-4A54-A937-D8C2E93C7D87}\.be\VC_redist.x64.exe' to: 'C:\ProgramData\Package Cache\{d8bbe9f9-7c5b-42c6-b715-9ee898a2e515}\VC_redist.x64.exe'
[6480:3934][2025-07-04T17:27:04]i320: Registering bundle dependency provider: VC,redist.x64,amd64,14.44,bundle, version: 14.44.35211.0
[6480:3934][2025-07-04T17:27:04]i371: Updating session, registration key: SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\{d8bbe9f9-7c5b-42c6-b715-9ee898a2e515}, resume: Active, restart initiated: No, disable resume: No
[6480:828C][2025-07-04T17:27:05]i305: Verified acquired payload: vcRuntimeMinimum_x64 at path: C:\ProgramData\Package Cache\.unverified\vcRuntimeMinimum_x64, moving to: C:\ProgramData\Package Cache\{43B0D101-A022-48F4-9D04-BA404CEB1D53}v14.44.35211\packages\vcRuntimeMinimum_amd64\vc_runtimeMinimum_x64.msi.
[6480:828C][2025-07-04T17:27:05]i305: Verified acquired payload: cab5046A8AB272BF37297BB7928664C9503 at path: C:\ProgramData\Package Cache\.unverified\cab5046A8AB272BF37297BB7928664C9503, moving to: C:\ProgramData\Package Cache\{43B0D101-A022-48F4-9D04-BA404CEB1D53}v14.44.35211\packages\vcRuntimeMinimum_amd64\cab1.cab.
[6480:828C][2025-07-04T17:27:05]i305: Verified acquired payload: vcRuntimeAdditional_x64 at path: C:\ProgramData\Package Cache\.unverified\vcRuntimeAdditional_x64, moving to: C:\ProgramData\Package Cache\{86AB2CC9-08BD-4643-B0F9-F82D006D72FF}v14.44.35211\packages\vcRuntimeAdditional_amd64\vc_runtimeAdditional_x64.msi.
[6480:828C][2025-07-04T17:27:05]i305: Verified acquired payload: cab2C04DDC374BD96EB5C8EB8208F2C7C92 at path: C:\ProgramData\Package Cache\.unverified\cab2C04DDC374BD96EB5C8EB8208F2C7C92, moving to: C:\ProgramData\Package Cache\{86AB2CC9-08BD-4643-B0F9-F82D006D72FF}v14.44.35211\packages\vcRuntimeAdditional_amd64\cab1.cab.
[6480:3934][2025-07-04T17:27:05]i301: Applying execute package: vcRuntimeMinimum_x64, action: Install, path: C:\ProgramData\Package Cache\{43B0D101-A022-48F4-9D04-BA404CEB1D53}v14.44.35211\packages\vcRuntimeMinimum_amd64\vc_runtimeMinimum_x64.msi, arguments: ' MSIFASTINSTALL="7" NOVSUI="1"'
[878C:6DE4][2025-07-04T17:27:59]i319: Applied execute package: vcRuntimeMinimum_x64, result: 0x0, restart: Required
[6480:3934][2025-07-04T17:27:59]i325: Registering dependency: {d8bbe9f9-7c5b-42c6-b715-9ee898a2e515} on package provider: Microsoft.VS.VC_RuntimeMinimumVSU_amd64,v14, package: vcRuntimeMinimum_x64
[6480:3934][2025-07-04T17:27:59]i301: Applying execute package: vcRuntimeAdditional_x64, action: Install, path: C:\ProgramData\Package Cache\{86AB2CC9-08BD-4643-B0F9-F82D006D72FF}v14.44.35211\packages\vcRuntimeAdditional_amd64\vc_runtimeAdditional_x64.msi, arguments: ' MSIFASTINSTALL="7" NOVSUI="1"'
[878C:6DE4][2025-07-04T17:28:02]i319: Applied execute package: vcRuntimeAdditional_x64, result: 0x0, restart: None
[6480:3934][2025-07-04T17:28:02]i325: Registering dependency: {d8bbe9f9-7c5b-42c6-b715-9ee898a2e515} on package provider: Microsoft.VS.VC_RuntimeAdditionalVSU_amd64,v14, package: vcRuntimeAdditional_x64
[6480:3934][2025-07-04T17:28:02]i301: Applying execute package: {c649ede4-f16a-4486-a117-dcc2f2a35165}, action: Uninstall, path: C:\ProgramData\Package Cache\{c649ede4-f16a-4486-a117-dcc2f2a35165}\VC_redist.x64.exe, arguments: '"C:\ProgramData\Package Cache\{c649ede4-f16a-4486-a117-dcc2f2a35165}\VC_redist.x64.exe" -uninstall -quiet -burn.related.upgrade -burn.ancestors={d8bbe9f9-7c5b-42c6-b715-9ee898a2e515} -burn.filehandle.self=1140'
[878C:6DE4][2025-07-04T17:28:03]i319: Applied execute package: {c649ede4-f16a-4486-a117-dcc2f2a35165}, result: 0x0, restart: None
[6480:3934][2025-07-04T17:28:03]i372: Session end, registration key: SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\{d8bbe9f9-7c5b-42c6-b715-9ee898a2e515}, resume: ARP, restart: Required, disable resume: No
[6480:3934][2025-07-04T17:28:03]i371: Updating session, registration key: SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\{d8bbe9f9-7c5b-42c6-b715-9ee898a2e515}, resume: ARP, restart initiated: No, disable resume: No
[878C:6DE4][2025-07-04T17:28:03]i399: Apply complete, result: 0x0, restart: Required, ba requested restart:  No
[878C:6DE4][2025-07-04T17:28:03]i500: Shutting down, exit code: 0xbc2
[878C:6DE4][2025-07-04T17:28:03]i410: Variable: Arm64_Check = AMD64
[878C:6DE4][2025-07-04T17:28:03]i410: Variable: SystemFolder = C:\Windows\SysWOW64\
[878C:6DE4][2025-07-04T17:28:03]i410: Variable: VersionNT = 10.0.0.0
[878C:6DE4][2025-07-04T17:28:03]i410: Variable: VersionNT64 = 10.0.0.0
[878C:6DE4][2025-07-04T17:28:03]i410: Variable: windows_uCRT_DetectKey = 10.0.26100.4202
[878C:6DE4][2025-07-04T17:28:03]i410: Variable: windows_uCRT_DetectKeyExists = 1
[878C:6DE4][2025-07-04T17:28:03]i410: Variable: WixBundleAction = 5
[878C:6DE4][2025-07-04T17:28:03]i410: Variable: WixBundleElevated = 1
[878C:6DE4][2025-07-04T17:28:03]i410: Variable: WixBundleFileVersion = 14.44.35211.0
[878C:6DE4][2025-07-04T17:28:03]i410: Variable: WixBundleInstalled = 0
[878C:6DE4][2025-07-04T17:28:03]i410: Variable: WixBundleLog = C:\Users\Devon
[878C:6DE4][2025-07-04T17:28:03]i410: Variable: WixBundleLog_vcRuntimeAdditional_x64 = C:\Users\Devon_001_vcRuntimeAdditional_x64.log
[878C:6DE4][2025-07-04T17:28:03]i410: Variable: WixBundleLog_vcRuntimeMinimum_x64 = C:\Users\Devon_000_vcRuntimeMinimum_x64.log
[878C:6DE4][2025-07-04T17:28:03]i410: Variable: WixBundleManufacturer = Microsoft Corporation
[878C:6DE4][2025-07-04T17:28:03]i410: Variable: WixBundleName = Microsoft Visual C++ 2015-2022 Redistributable (x64) - 14.44.35211
[878C:6DE4][2025-07-04T17:28:03]i410: Variable: WixBundleOriginalSource = C:\ProgramData\Microsoft\VisualStudio\Packages\Microsoft.VisualCpp.Redist.14.Latest,version=14.44.35211,chip=x64\VC_redist.x64.exe
[878C:6DE4][2025-07-04T17:28:03]i410: Variable: WixBundleOriginalSourceFolder = C:\ProgramData\Microsoft\VisualStudio\Packages\Microsoft.VisualCpp.Redist.14.Latest,version=14.44.35211,chip=x64\
[878C:6DE4][2025-07-04T17:28:03]i410: Variable: WixBundleProviderKey = VC,redist.x64,amd64,14.44,bundle
[878C:6DE4][2025-07-04T17:28:03]i410: Variable: WixBundleRollbackLog_vcRuntimeAdditional_x64 = C:\Users\Devon_001_vcRuntimeAdditional_x64_rollback.log
[878C:6DE4][2025-07-04T17:28:03]i410: Variable: WixBundleRollbackLog_vcRuntimeMinimum_x64 = C:\Users\Devon_000_vcRuntimeMinimum_x64_rollback.log
[878C:6DE4][2025-07-04T17:28:03]i410: Variable: WixBundleSourceProcessFolder = C:\ProgramData\Microsoft\VisualStudio\Packages\Microsoft.VisualCpp.Redist.14.Latest,version=14.44.35211,chip=x64\
[878C:6DE4][2025-07-04T17:28:03]i410: Variable: WixBundleSourceProcessPath = C:\ProgramData\Microsoft\VisualStudio\Packages\Microsoft.VisualCpp.Redist.14.Latest,version=14.44.35211,chip=x64\VC_redist.x64.exe
[878C:6DE4][2025-07-04T17:28:03]i410: Variable: WixBundleTag = 
[878C:6DE4][2025-07-04T17:28:03]i410: Variable: WixBundleUILevel = 2
[878C:6DE4][2025-07-04T17:28:03]i410: Variable: WixBundleVersion = 14.44.35211.0
[878C:6DE4][2025-07-04T17:28:03]i007: Exit code: 0xbc2, restarting: No
